In [1]:
import pandas as pd
import numpy as np

# Val

after ensemble - VALIDATION RMSE:  1.0210420495271597

In [5]:
val_1 = pd.read_csv('val_pre_1.csv')
val_2 = pd.read_csv('val_pre_2.csv')
val_3 = pd.read_csv('val_pre_3.csv')
val_4 = pd.read_csv('val_pre_4.csv')
val_5 = pd.read_csv('val_pre_5.csv')

In [7]:
val_all = val_1[['user_id', 'business_id']]

In [8]:
val_all['stars_1'] = val_1['stars']
val_all['stars_2'] = val_2['stars']
val_all['stars_3'] = val_3['stars']
val_all['stars_4'] = val_4['stars']
val_all['stars_5'] = val_5['stars']

In [13]:
val_all['stars'] = val_all.mean(axis=1)

In [15]:
val_all[['user_id', 'business_id', 'stars']].to_csv('val_pre.csv', index=False)

# Test

In [16]:
te_1 = pd.read_csv('te_pre_1.csv')
te_2 = pd.read_csv('te_pre_2.csv')
te_3 = pd.read_csv('te_pre_3.csv')
te_4 = pd.read_csv('te_pre_4.csv')
te_5 = pd.read_csv('te_pre_5.csv')

In [17]:
te_all = te_1[['user_id', 'business_id']]
te_all['stars_1'] = te_1['stars']
te_all['stars_2'] = te_2['stars']
te_all['stars_3'] = te_3['stars']
te_all['stars_4'] = te_4['stars']
te_all['stars_5'] = te_5['stars']

In [18]:
te_all['stars'] = te_all.mean(axis=1)

In [21]:
te_all[['user_id', 'business_id', 'stars']].to_csv('pred.csv', index=False)